# Игнорировать папку Visual Studio
.vs/

# Игнорировать каталоги и файлы сборки
bin/
obj/

# Игнорировать файлы пользовательских настроек Visual Studio
.vscode/

# Игнорировать файлы системы
Thumbs.db
Desktop.ini

# Игнорировать файлы конфигурации среды
*.user
*.userosscache
*.suo
*.userprefs
